*{
    margin: 0;
    border: 0;
}
body{
    background-color: aliceblue;
    position: relative;
}
.nav-bar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: white;
    padding: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-bar h1{
    font-size: 50px;
    font-weight: 50px;
}
.logbtn{
    border-radius: 10px;
    padding: 10px;
    font-weight: 600px;
    cursor: pointer;
} 
.addbook{
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px;
}
.addBook-btn{
    font-size: 25px;
    font-family: 600;
    cursor: pointer;
}
.addBook-btn:hover{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    
}
.book-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.container{
    position:relative;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align: center;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    z-index: 1;
    box-shadow: #e3c3c3c9 0px 1px 4px;
}
.container.active {
    transform:translate(-50%, -50%) scale(1) ;
}
.container h1{
    margin-bottom: 10px;
}
form input, .btn{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: inherit;
    font-family: 30opx;
    font-size: 20px;
    outline: none;
    display: block;
    margin-bottom: 15px;
}
.btn{
    font-weight: 600;
}
.is-read label{
    font-size: large;
    font-weight: 600;
}
.checkbox{
    font-size: 200px;
} 